.fondo {
  background-color: #ff8110;
}

.boton {
  background-color: #ff8110;
  color: white;
}

.boton:hover {
  background-color: #f89842;
  color: white;
}

.form-border {
  border: 1px solid #ff8110;
}

.form-border::placeholder {
  color: #ff8110;
  opacity: 1;
}

.form-border:focus {
  border-color: #ff8110 !important;
  box-shadow: 0 0 8px 4px rgba(248, 152, 66, 0.75) !important;
  outline: none !important;
}

.form-width {
  width: 80%;
}

input.form-height {
  height: 60px; /* Ajusta la altura según lo que necesites */
}

.color-text {
  color: #ff8110;
}

.alerta{
  color: red;
}